releases/*
template/*
*/bin/*
*/obj/*
**/bin/*
**/obj/*
**/**/bin/*
**/**/obj/*
*/*/bin/*
*/*/obj/*
.vs/*
*/*.vs/*
**/**/.vs/*
/*/*/bin/*
/*/*/*/bin/*
/*/*/obj/*
/*/*/*/obj/*
releases/*
template/*
**/bin/*
**/obj/*
.vs/*
/*/*/bin/*
/*/*/*/bin/*
/*/*/obj/*
/*/*/*/obj/*
/*/*/.vs/*
/*/*/*/.vs/*
/*/*/.vs/*
/*/*/*/.vs/*
/*/*/release/*
/*/*/*/release/*
*.csproj.user
